fastapi==0.116.1
uvicorn[standard]==0.35.0
pydantic==2.11.7
pydantic-settings==2.10.1
python-dotenv==1.1.1
python-multipart==0.0.20
pymupdf==1.26.3
langchain-text-splitters==0.3.9
sentence-transformers==5.0.0
chromadb==1.0.15
google-genai==1.30.0